/* App ---------------------------------------------------------------------- */

.app__container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}


/* Masonry ------------------------------------------------------------------ */

.js .masonry__container {
  opacity: 0;
}

.masonry__item {
  margin-bottom: var(--gap);
}

@media (min-width: 640px) {
  .masonry__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--gap);
  }

  .masonry__container {
    grid-auto-rows: var(--gap);
  }
}

@media (min-width: 1024px) {
  .masonry__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.masonry__item {
  border-radius: var(--radius);
  padding: 2rem;
  font-size: 3rem;
  font-weight: 300;
  background: linear-gradient(var(--gradient-degree), var(--blue), var(--violet));
  color: var(--white);
}

.masonry__item:nth-child(1) {
  background: linear-gradient(var(--gradient-degree), var(--blue), var(--light-blue));
}

.masonry__item:nth-child(3n) {
  background: linear-gradient(var(--gradient-degree), var(--vivid-pink), var(--light-red));
}

.masonry__item:nth-child(4n) {
  background: linear-gradient(var(--gradient-degree), var(--violet), var(--light-blue));
}

.masonry__item:nth-child(5n) {
  background: linear-gradient(var(--gradient-degree), var(--cool-yellow), var(--deep-red-yellow));
}

.masonry__item:nth-child(6n) {
  background-image: linear-gradient(160deg, var(--sky-blue), var(--light-green));
}